.margin{
    margin: 0px;
}

.font{
    font-size: 20px;
    font: Verdana;
    color: white;
    list-style: none;
    
}

/* .gameCanvas{
    width: 800px;
    height: 500px;
    display: block;
    margin: auto;
} */

.overlay-text{
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
}

.centered{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}
.navbar ul{
    list-style: none;
    background-color: hsl(0, 0%, 20%);
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}

.navbar li2{
    float: right;
}

.box{
    background-color: rgb(167, 167, 167);
    width: 600px;
    padding: 50px;
    margin: auto;
    margin-top: auto;

}

.errorbox{
    background-color: rgba(221, 221, 221, 0.596);
    width: 600px;
    padding: 100px;
    margin: auto;
    margin-top: 200px;

}