.margin{
    margin: 0px;
}

.font{
    font-size: 20px;
    font: Verdana
    
}

.centered{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.image{

    isolation: isolate;
    position: relative;
}

.image::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    /* background: black; */
    opacity: 0.5;

    background-image: url("/Web_/images/Maze.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar ul{
    list-style: none;
    background-color: hsl(0, 0%, 20%);
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}

.navbar li2{
    float: right;
}